      .button {
            display: inline-block; 
            padding: 10px 20px;
            background-color: #4CAF50; 
            color: white;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            border: none;
        }

        .button:hover {
            background-color: #45a049;
        }
        .button:active {
            background-color: #3e8e41;
        }
